<!DOCTYPE html>
<html lang="ko">
<head>
	<title>FAQ | SCU WOD Mobile LMS</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="서울사이버대학교 평생교육원" />
    <meta name="keywords" content="서울사이버대학교 평생교육원, 서울사이버대학교, 평생교육원" /> 
	<link rel="stylesheet" href="../styles/common.css" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="../scripts/lib/jquery/jquery-1.11.0.min.js"></script>
	<script src="../scripts/common.js"></script>
</head>
<body>
	<p id="skip_nav"><a href="#contents">본문 바로가기</a></p>
	<!-- 사이드메뉴 -->
	<button class="btn_menu"><span class="hide">주요메뉴 열기</span></button>
	<!-- @gnb (layout_sidemenu.html 참고) -->
	<!-- //사이드메뉴 -->

	<div id="wrapper">
		<header>
			<h2>FAQ</h2>
		</header>
		<div id="contents">
			<dl class="faq_list">
				<dt>파본/훼손/오발송된 상품을 교환하고 싶습니다. 어떻게 해야하나요?</dt>
				<dd class="on">일반 택배로 배송 받으신 상품에 하자가 있는 경우, 인터넷 홈페이지에서 배송 완료일로 부터 30일 이내 마이룸 &gt; 주문/ 배송내역 &gt; 주문상세페이지 &gt; 교환신청 가능합니다. (※ 단, 우편/ 편의점택배 수령의 경우 회수주소지 정보에 일반 주소지 입력해 주시면 일반택배로 맞교환 진행됩니다.) 또는, 고객센터 1:1상담에서 &lt;파본/ 상품불량 신고&gt; 또는 &lt;반품/교환/환불&gt; 상담에 주문번호와 내용을 기재하여 주십시오. 담당자 확인 후 주문시의 주소로 상품을 재발송 해 드립니다. 파본도서는 재발송 된 상품을 받으시면서 맞교환해주시면 됩니다. 
				</dd>
				<dt>파본/훼손/오발송된 상품을 교환하고 싶습니다. 어떻게 해야하나요?</dt>
				<dd>일반 택배로 배송 받으신 상품에 하자가 있는 경우, 인터넷 홈페이지에서 배송 완료일로 부터 30일 이내 마이룸 &gt; 주문/ 배송내역 &gt; 주문상세페이지 &gt; 교환신청 가능합니다. (※ 단, 우편/ 편의점택배 수령의 경우 회수주소지 정보에 일반 주소지 입력해 주시면 일반택배로 맞교환 진행됩니다.) 또는, 고객센터 1:1상담에서 &lt;파본/ 상품불량 신고&gt; 또는 &lt;반품/교환/환불&gt; 상담에 주문번호와 내용을 기재하여 주십시오. 담당자 확인 후 주문시의 주소로 상품을 재발송 해 드립니다. 파본도서는 재발송 된 상품을 받으시면서 맞교환해주시면 됩니다. 
				</dd>
				<dt>파본/훼손/오발송된 상품을 교환하고 싶습니다. 어떻게 해야하나요?</dt>
				<dd>일반 택배로 배송 받으신 상품에 하자가 있는 경우, 인터넷 홈페이지에서 배송 완료일로 부터 30일 이내 마이룸 &gt; 주문/ 배송내역 &gt; 주문상세페이지 &gt; 교환신청 가능합니다. (※ 단, 우편/ 편의점택배 수령의 경우 회수주소지 정보에 일반 주소지 입력해 주시면 일반택배로 맞교환 진행됩니다.) 또는, 고객센터 1:1상담에서 &lt;파본/ 상품불량 신고&gt; 또는 &lt;반품/교환/환불&gt; 상담에 주문번호와 내용을 기재하여 주십시오. 담당자 확인 후 주문시의 주소로 상품을 재발송 해 드립니다. 파본도서는 재발송 된 상품을 받으시면서 맞교환해주시면 됩니다. 
				</dd>
				<dt>파본/훼손/오발송된 상품을 교환하고 싶습니다. 어떻게 해야하나요?</dt>
				<dd>일반 택배로 배송 받으신 상품에 하자가 있는 경우, 인터넷 홈페이지에서 배송 완료일로 부터 30일 이내 마이룸 &gt; 주문/ 배송내역 &gt; 주문상세페이지 &gt; 교환신청 가능합니다. (※ 단, 우편/ 편의점택배 수령의 경우 회수주소지 정보에 일반 주소지 입력해 주시면 일반택배로 맞교환 진행됩니다.) 또는, 고객센터 1:1상담에서 &lt;파본/ 상품불량 신고&gt; 또는 &lt;반품/교환/환불&gt; 상담에 주문번호와 내용을 기재하여 주십시오. 담당자 확인 후 주문시의 주소로 상품을 재발송 해 드립니다. 파본도서는 재발송 된 상품을 받으시면서 맞교환해주시면 됩니다. 
				</dd>
				<dt>파본/훼손/오발송된 상품을 교환하고 싶습니다. 어떻게 해야하나요?</dt>
				<dd>일반 택배로 배송 받으신 상품에 하자가 있는 경우, 인터넷 홈페이지에서 배송 완료일로 부터 30일 이내 마이룸 &gt; 주문/ 배송내역 &gt; 주문상세페이지 &gt; 교환신청 가능합니다. (※ 단, 우편/ 편의점택배 수령의 경우 회수주소지 정보에 일반 주소지 입력해 주시면 일반택배로 맞교환 진행됩니다.) 또는, 고객센터 1:1상담에서 &lt;파본/ 상품불량 신고&gt; 또는 &lt;반품/교환/환불&gt; 상담에 주문번호와 내용을 기재하여 주십시오. 담당자 확인 후 주문시의 주소로 상품을 재발송 해 드립니다. 파본도서는 재발송 된 상품을 받으시면서 맞교환해주시면 됩니다. 
				</dd>
			</dl>
		</div>
	</div>

	<!-- 하단메뉴 -->
	<ul class="nav">
		<li><a href="#" class="btn_learning"><span class="hide">수강중인 강의</span></a></li>
		<li><a href="#" class="btn_notice"><span class="hide">공지사항</span></a></li>
		<li><a href="#" class="btn_faq"><span class="hide">FAQ</span></a></li>
		<li><a href="#" class="btn_qna"><span class="hide">나의 문의사항</span></a></li>
		<li><a href="#" class="btn_setting"><span class="hide">설정</span></a></li>
		<li><a href="#" class="btn_prev"><span class="hide">이전 화면으로 이동</span></a></li>
	</ul>
	<!-- //하단메뉴 -->
</body>
</html>