<!DOCTYPE html>
<html lang="ko">
<head>
	<title>아이디 찾기 | SCU WOD Mobile App</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="서울사이버대학교 평생교육원" />
    <meta name="keywords" content="서울사이버대학교 평생교육원, 서울사이버대학교, 평생교육원" /> 
	<link rel="stylesheet" href="../styles/common.css" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="../scripts/lib/jquery/jquery-1.11.0.min.js"></script>
	<script src="../scripts/common.js"></script>
</head>
<body>
	<div class="find_idpw">
		<header class="logotype">
			<h1><span class="hide">서울사이버대학교</span></h1>
		</header>
		<div class="find_cont">
			<ul class="find_nav">
				<li class="on"><a href="#">아이디 찾기</a></li>
				<li><a href="#">비밀번호 찾기</a></li>
			</ul>
			<form>
				<fieldset>
					<legend>아이디 찾기</legend>
					<ul class="find_forms">
						<li><div class="intxt"><input type="text" placeholder="이름" title="이름 입력" /></div></li>
						<li>
							<div class="tcell">
								<div class="tcell_td w36p">
									<div class="select">
										<select title="휴대전화 앞자리 선택">
											<option value="">휴대전화</option>
										</select>						
									</div>
								</div>
								<div class="tcell_td ct w16">-</div>
								<div class="tcell_td">
									<div class="intxt"><input type="text" title="휴대전화 중간자리 입력" /></div>
								</div>							
								<div class="tcell_td ct w16">-</div>
								<div class="tcell_td">
									<div class="intxt"><input type="text" title="휴대전화 뒷자리 입력" /></div>
								</div>
							</div>
						</li>
						<li>
							<div class="tcell">
								<div class="tcell_td w33p">
									<div class="intxt"><input type="text" placeholder="이메일" title="이메일 아이디 입력" /></div>
								</div>
								<div class="tcell_td ct w16">@</div>
								<div class="tcell_td w24p">
									<div class="intxt"><input type="text" title="이메일 계정 입력" /></div>
								</div>
								<div class="tcell_td w7"></div>
								<div class="tcell_td">
									<div class="select">
										<select title="이메일 계정 선택">
											<option value="">직접입력</option>
										</select>						
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="tcell">
								<div class="tcell_td w38p">
									<div class="select">
										<select title="생년 선택">
											<option value="">생년</option>
										</select>						
									</div>
								</div>
								<div class="tcell_td w7"></div>
								<div class="tcell_td">
									<div class="select">
										<select title="생월 선택">
											<option value="">월</option>
										</select>						
									</div>
								</div>
								<div class="tcell_td w7"></div>
								<div class="tcell_td">
									<div class="select">
										<select title="생일 선택">
											<option value="">일</option>
										</select>						
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="btn_area">
						<button type="submit" class="btn_block btn_primary">확인</button>
					</div>
				</fieldset>
			</form>
		</div>
		<footer>
			<p class="txt">회원가입 및 개인정보 변경은 웹 사이트에서만 가능합니다.</p>	
			<p class="copy">COPYRIGHT (C) SEOUL CYBER UNIVERSITY.<br />ALL RIGHTS RESERVED</p>
		</footer>
	</div>
</body>
</html>