<!DOCTYPE html>
<html lang="ko">
<head>
	<title>학습하기 | SCU WOD Mobile LMS</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="서울사이버대학교 평생교육원" />
    <meta name="keywords" content="서울사이버대학교 평생교육원, 서울사이버대학교, 평생교육원" /> 
	<link rel="stylesheet" href="../styles/common.css" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="../scripts/lib/jquery/jquery-1.11.0.min.js"></script>
	<script src="../scripts/common.js"></script>
</head>
<body>
	<p id="skip_nav"><a href="#contents">본문 바로가기</a></p>
	<!-- 사이드메뉴 -->
	<button class="btn_menu"><span class="hide">주요메뉴 열기</span></button>
	<!-- @gnb (layout_sidemenu.html 참고) -->
	<!-- //사이드메뉴 -->

	<div id="wrapper" class="has_lnb">
		<header>
			<h2>강의명</h2>
		</header>
		<div id="contents">
			<ul id="lnb" class="tab item4">
				<li class="on"><a href="#">학습하기</a></li>
				<li><a href="#">강의공지</a></li>
				<li><a href="#">강의정보</a></li>
				<li><a href="#">Q&amp;A</a></li>
			</ul>
			<div class="desc_area">
				<p class="txt">모바일 학습은 PLAY 버튼이 있는 목차만 학습 가능합니다.<br />토론, 과제 등 학습활동은 웹사이트에서만 가능합니다.</p>
			</div>
			<div class="fold_list learning_list">
				<div class="fold_tit tit_week on">1주차</div>
				<div class="fold_cont on">
					<ul>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_learning">학습중</span>		
							</a>
						</li>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_completion">학습완료</span>		
							</a>
						</li>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_completion">학습완료</span>		
							</a>
						</li>
					</ul>		
				</div>
				<div class="fold_tit tit_week">2주차</div>
				<div class="fold_cont">
					<ul>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_learning">학습중</span>		
							</a>
						</li>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_completion">학습완료</span>		
							</a>
						</li>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_completion">학습완료</span>		
							</a>
						</li>
					</ul>	
				</div>
				<div class="fold_tit tit_week">3주차</div>
				<div class="fold_cont">
					<ul>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_learning">학습중</span>		
							</a>
						</li>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_completion">학습완료</span>		
							</a>
						</li>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_completion">학습완료</span>		
							</a>
						</li>
					</ul>	
				</div>
				<div class="fold_tit tit_week">4주차</div>
				<div class="fold_cont">
					<ul>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_learning">학습중</span>		
							</a>
						</li>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_completion">학습완료</span>		
							</a>
						</li>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_completion">학습완료</span>		
							</a>
						</li>
					</ul>	
				</div>	
				<div class="fold_tit tit_week">5주차</div>
				<div class="fold_cont">
					<ul>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_learning">학습중</span>		
							</a>
						</li>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_completion">학습완료</span>		
							</a>
						</li>
						<li>
							<a href="#">
								<strong>온라인 학습</strong>
								<span class="icon icon_completion">학습완료</span>		
							</a>
						</li>
					</ul>	
				</div>
			</div>
		</div>
	</div>
	<!-- 하단메뉴 -->
	<ul class="nav">
		<li><a href="#" class="btn_learning"><span class="hide">수강중인 강의</span></a></li>
		<li><a href="#" class="btn_notice"><span class="hide">공지사항</span></a></li>
		<li><a href="#" class="btn_faq"><span class="hide">FAQ</span></a></li>
		<li><a href="#" class="btn_qna"><span class="hide">나의 문의사항</span></a></li>
		<li><a href="#" class="btn_setting"><span class="hide">설정</span></a></li>
		<li><a href="#" class="btn_prev"><span class="hide">이전 화면으로 이동</span></a></li>
	</ul>
	<!-- //하단메뉴 -->
</body>
</html>