/* Empty. Add your own CSS if you like */
/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */

/*.login {background:url('/images/bg_intro.png') no-repeat;}
.login_wrap {max-width:570px; margin:0 auto; padding:40px 12px 10px;}
.login h2 {width:350px; height:60px; margin:0 auto 30px; background-size:200px 102px;}
.login h2 .hide {width:169px; height:106px;}
.login .inp {display:block; width:100%; padding:7px 0 6px; border:0; background:none; color:#4d606f;}
.login .tlayout {margin-top:10px;}
.login-form {background:#67b0d6;}*/
/*.copyright {margin-top:20px; color:#fff; font-size:11px; text-align:center;}
.copyright.dark {color:#333;}*/
.list .item.item-accordion {
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.05s ease-out;
}
.indent_1 {
  padding-left : 5px;
  font-size: 14px;
  width:250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.indent_2 {
  padding-left : 10px;
  font-size: 14px;
  width:250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.indent_3 {
  padding-left : 15px;
  font-size: 14px;
  width:250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.indent_4 {
  padding-left : 20px;
  font-size: 14px;
  width:250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.learn-status {
  position:absolute;
  top:0px;
  right:25px;
  margin-top: 10px;
  width:60px;
  float: right;
}
.toc_disabled {
  color : gray;
}
.toc_enabled {
  color : black;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.scu_viewer {
	background: #22242c url(../images/bg_pattern.png) repeat;
	vertical-align: middle;
}
.webcontents_frame {
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #ffffff;
}
.scu_player {
	background: #22242c url(../images/bg_pattern.png) repeat;
	vertical-align: middle;
	height: 100vh;
	width: 100vw;
	text-align: center;
}
.media_player {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.player_info_panel {
	display : none;
	background-color: rgba(0,0,0,0.5);
    position : absolute;
    top : 0; left: 0;
    width : 100%;
    height : 60px;
    border: 0px;
    z-index: 99999;
    /*transition: opacity 0.5s ease-out;*/
}
.player_menu_panel {
	display : none;
	background-color: rgba(0,0,0,0.5);
    position : absolute;
    top : 0; left: 0;
    width : 200px;
    height : 100%;
    border: 0px;
    z-index: 99999;
    /*transition: opacity 0.5s ease-out;*/
}
.player_controll_panel {
	display : none;
	background-color: rgba(0,0,0,0.5);
    position : absolute;
    bottom : 0; left: 0;
    width : 100%;
    height : 60px;
    border: 0px;
    z-index: 99999;
    /*transition: opacity 0.5s ease-out;*/
    vertical-align: middle;
}
.player_panel_txt {
	color: #ffffff;
  position: absolute;
  top:15px;
  left:15px;
  text-align: left;
}
.player_panel_btn {
  color: #ffffff;
  position: absolute;
  top: 15px;
  right:15px;
  text-align: right;

}
.player_panel_btn .btn_exit {
  width:22px; height:22px; background:url('../images/spr_icon.png') no-repeat -95px 5px; background-size:300px 300px;
}
/*.btn_close {display:inline-block; width:22px; height:22px; background:url('../images/spr_icon.png') no-repeat -95px 5px; background-size:300px 300px;}*/
/* CORE */
.item-expand {
  position: relative;
  width: 100%;
  max-height: 50px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.item-expand.inactive:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 15px;
  width: 100%;
  display: block;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(1, rgba(255, 255, 255, 1))
  );
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.item-expand.active {
  max-height: 800px;
  transition: max-height 0.3s ease-out;
}


/* DEMO */
.item-expand-footer {
  color: red;
  margin-top: 10px;
}

.item-expand-footer i {
  margin-right: 10px;
}

/*video {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/

/*.video-portrait {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.video-landscape {
  top : 0px;
}*/

/*.contentsLayer {
  display: block;
  max-width: 100vw;
  margin: 0 auto 1em;
  height: 100vh;
  border-radius: .2em;
  position: relative;
  color: white;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}*/
.btn_create_cop {position:fixed; right:15px; bottom:60px; width:50px; height:50px; border-radius:100%; background:#67b1d6 url('../images/btn_plus.png') no-repeat 50% 50%; background-size:50px 50px; box-shadow:1px 1px 3px rgba(0,0,0,0.3); z-index:100;}
.btn_create_cop .hide {width:50px; height:50px;}