<ion-view view-title="수강중인 강좌">

  <ion-content style="/*background:#67b0d6;*/">
    <!-- <ion-refresher 
		pulling-text="" 
		on-refresh="doRefresh()" 
		on-pulling="onPulling()" 
		spinner="crescent" 
		pulling-icon="ion-ios-arrow-up">
	</ion-refresher> -->
	<div class="card">
	  <div class="item item-divider item-icon-left">
	    <i class="icon ion-ios-monitor calm"></i>
	    일반 강좌
	    <!-- <span class="badge badge-assertive">0</span> -->
	  </div>
	  <!-- /myclass/tocList/{{course.lectureSeqno}} -->
	  <div ng-show="courseList.length > 0">
	    <a class="item" href="#" ng-repeat="course in courseList" ng-click="goTocList(course.lectureSeqno, course.lectureName, course.mobilePosbYn)">
	      <span class="item-note dark">{{course.lectureOrd}}</span>
	      <h2>{{course.lectureName}}</h2>
	      <span class="item-note dark">
	      	<span ng-show="course.mobilePosbYn != 'Y'">{{course.learnTypeGbNm}}</span>
	      	<i ng-show="course.mobilePosbYn == 'Y'" class="icon ion-ipad positive">&nbsp;&nbsp;모바일 지원</i>
	      </span>
	      <p>{{course.lectureStartDttm | limitTo:10}} ~ {{course.lectureEndDttm | limitTo:10}}</p>
	    </a>
	  </div>	  
	  <div ng-show="courseList.length == 0" style="text-align: center;height:60px;padding-top: 20px;">수강중인 강좌가 없습니다.</div>
	</div>

	<div class="card">
	  <div class="item item-divider item-icon-left">
	  <i class="icon ion-ios-compose calm"></i>
	    온라인 자격시험
	  </div>
	  <div ng-show="examList.length > 0">
	    <a class="item" href="#" ng-repeat="exam in examList" ng-click="goExamDetail(exam.lectureSeqno, exam.lectureName, exam.mobilePosbYn)">
	      <span class="item-note dark">{{exam.lectureOrd}}</span>
	      <h2>{{exam.concernLicenseName}} > {{exam.lectureName}}</h2>
	      <span class="item-note dark">
	      	<i ng-show="exam.mobilePosbYn == 'Y'" class="icon ion-ipad positive">&nbsp;&nbsp;모바일 지원</i>
	      </span>
	      <p>{{exam.lectureStartDttmDisp | limitTo : 10}} ~ {{exam.lectureEndDttmDisp | limitTo : 10}}</p>
	    </a>
	  </div>	  
	  <div ng-show="examList.length == 0" style="text-align: center;height:60px;padding-top: 20px;">응시가능한 자격시험이 없습니다.</div>
	</div>
  </ion-content>
</ion-view>
