<ion-view view-title="{{tocName}}">
  <ion-content style="/*background:#67b0d6; */margin-top:48px;">
    <!-- <ion-refresher 
		pulling-text="새로고침" 
		on-refresh="doRefresh()" 
		on-pulling="onPulling()" 
		spinner="crescent" 
		pulling-icon="ion-ios-arrow-up">
	</ion-refresher> -->
	<div class="card">
	  <div class="item item-divider item-icon-left">
	    <i class="icon ion-ios-paper-outline calm"></i>
	    목차정보
	    <!-- <span class="badge badge-assertive">0</span> -->
	  </div>
	  <div class="inner_cont">
		<div class="data">
			<table>
				<caption>목차정보</caption>
				<colgroup>
					<col style="width:34%" />
					<col style="width:auto" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">학습유형</th>
						<td>
							<span>{{itemDetail.connGbName}}</span>
							<!-- <span>( 권장 학습시간 : {{itemDetail.tocEdTimeTxt}} )</span> -->
						</td>
					</tr>
					<tr>
						<th scope="row">출석 인정 기준</th>
						<td>
							</span>{{itemDetail.pobtTypeName}}</span>
							<span ng-show="itemDetail.pobtTypeGb == '01'">{{itemDetail.tocAttendBasisTimeTxt}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	  </div>
	</div>
	<div class="card">
		<div class="item item-divider item-icon-left">
			<i class="icon ion-ios-pulse calm"></i>
			내 진도현황
			<!-- <span class="badge badge-assertive">0</span> -->
		</div>
		<div class="inner_cont">
			<div class="data">
				<table>
					<caption>내 진도현황</caption>
					<colgroup>
						<col style="width:34%" />
						<col style="width:auto" />
					</colgroup>
					<tbody>
						<tr>
							<th scope="row" style="vertical-align: middle;">진도 현황</th>
							<td>
								<span ng-show="itemDetail.pobtYn == 'Y'">완료</span>
								<span ng-show="itemDetail.pobtYn != 'Y'">미완료</span>
								<span ng-show="itemDetail.pobtTypeGb == '01'"><br/>- 완료율 : {{itemDetail.prgss | number : 0}} %<br/>- 학습시간 : {{itemDetail.learnTimeSumTxt}}</span>
							</td>
						</tr>
						<tr ng-show="itemDetail.pobtTypeGb == '03'">
							<th scope="row">채점 결과</th>
							<td>{{itemDetail.mbrScore}} 점</td>
						</tr>
						<tr>
							<th scope="row">학습 횟수</th>
							<td>{{itemDetail.learnNot}} 회</td>
						</tr>
						<tr>
							<th scope="row">최근 학습시간</th>
							<td>{{itemDetail.moddateDisp | limitTo : 19}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="btn_area">
		<a href="#" class="btn_block btn_primary" ng-click="goStudy()">학습하기</a>
	</div>
	<p class="desc_txt" style="/*color:white*/">
		<span style="color:red;">{{learnableMsg}}</span>
		<br/>- 모바일 학습은 학습하기 버튼이 있는 목차만 학습이 가능합니다.
		<br/>- 토론, 과제 등 학습활동은 웹사이트에서만 가능합니다.
	</p>
	<p style="height: 60px;">&nbsp;</p>
  </ion-content>
</ion-view>