<ion-view view-title="나의 문의사항">
  <ion-content>
    <ion-refresher 
      pulling-text="새로고침" 
      on-refresh="doRefresh()" 
      on-pulling="onPulling()" 
      spinner="crescent" 
      pulling-icon="ion-ios-arrow-up">
    </ion-refresher>

    <!-- <div class="btn_area" style="margin-top: 10px; margin-bottom: 10px;">
			<a href="#" class="btn_block btn_primary" ng-click="goWrite()">글쓰기</a>
		</div> -->
		<div class="list">
      <ion-item class="item item-text-wrap" ng-repeat="counseling in counselingList" ng-click="goDetail(11)">
        <h2>{{ counseling.title }}</h2>
        <p>admin | 2016-04-18</p>
      </ion-item>
    </div>
  </ion-content>
  <a href="#" class="btn_create_cop" ng-click="goWrite()"><span class="hide">글쓰기</span></a>
</ion-view>
