<ion-view view-title="FAQ">
	<ion-content>
		<!-- <ion-refresher 
			pulling-text="새로고침" 
			on-refresh="doRefresh()" 
			on-pulling="onPulling()" 
			spinner="crescent" 
			pulling-icon="ion-ios-arrow-up">
		</ion-refresher> -->
		<div id="contents">
			<dl class="faq_list" ng-repeat="faq in faqList">
				<dt ng-click="toggleGroup(faq)">{{getFaqQuesGbName(faq.faqQuesGb)}} > {{faq.title}}</dt>
				<dd ng-class="{on: isGroupShown(faq)}" ng-bind-html="faq.answer"></dd>
			</dl>
		</div>
		<p style="height: 60px;">&nbsp;</p>
	</ion-content>
</ion-view>
