<ion-view view-title="홈" hide-back-button="true">
	<ion-header-bar class="logotype">
	  <h1><span class="hide">서울사이버대학교</span></h1>
	</ion-header-bar>
  <ion-content class="login" scroll="false">
	<div class="find_idpw" style="text-align:center;">
		<div class="find_cont">
			<ul class="find_nav">
				<li ng-class="{on:isSearchId}"><a href="#" ng-click="showIdSearchForm()">아이디 찾기</a></li>
				<li ng-class="{on:!isSearchId}"><a href="#" ng-click="showPwSearchForm()">비밀번호 찾기</a></li>
			</ul>
			<form id="idSearchForm" name="idSearchForm" novalidate allow-invalid="true" ng-submit="idSearch(idSearchForm)">
				<fieldset>
					<legend>아이디 찾기</legend>
					<ul class="find_forms">
						<li>
							<div class="tcell">
								<div class="tcell_td w33p">
									<div class="select">
										<select title="사이트 선택" name="orgSuffixUrl" 
											ng-options="orgCode.orgSuffixUrl as orgCode.orgName for orgCode in orgCodeList"
											ng-model="idSearchData.orgSuffixUrl" required>
											<option value="" ng-selected="selected">사이트 선택</option>
										</select>
									</div>
								</div>
								<div class="tcell_td w7"></div>
								<div class="tcell_td">
									<div class="intxt">
										<input type="text" placeholder="이름" title="이름 입력" 
											name="mbrName"
								          	ng-model="idSearchData.mbrName"
								          	ng-minlength="2" 
				   							ng-maxlength="50" 
				   							required/>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="tcell">
								<div class="tcell_td w33p">
									<div class="select">
										<select title="휴대전화 앞자리 선택" name="phoneFirst" ng-model="idSearchData.phoneFirst">
											<option value="010" ng-selected="selected">010</option>
											<option value="011">011</option>
											<option value="016">016</option>
											<option value="017">017</option>
											<option value="018">018</option>
											<option value="019">019</option>
										</select>
									</div>
								</div>
								<div class="tcell_td ct w16">-</div>
								<div class="tcell_td">
									<div class="intxt">
										<input type="text" title="휴대전화 중간자리 입력" placeholder="" 
											name="phoneMiddle" 
											ng-model="idSearchData.phoneMiddle"
								          	ng-pattern="/^([0-9]{3,4})$/"
								          	ng-minlength="3" 
							   				ng-maxlength="4" 
							   				required/>
									</div>
								</div>							
								<div class="tcell_td ct w16">-</div>
								<div class="tcell_td">
									<div class="intxt">
										<input type="text" title="휴대전화 뒷자리 입력" placeholder="" 
											name="phoneLast" 
											ng-model="idSearchData.phoneLast"
								          	ng-pattern="/^([0-9]{4})$/"
								          	ng-minlength="4" 
							   				ng-maxlength="4" 
							   				required/>
									</div>
								</div>
							</div>
						</li>
						
						<li>
							<div class="tcell">
								<div class="tcell_td w33p">
									<div class="select">
										<select title="출생년도 선택" id="birthYear" name="birthYear" ng-model="idSearchData.birthYear" required>
											<option value="">출생년도</option>
											<option value="{{year}}" ng-repeat="year in yearList">{{year}} 년</option>
										</select>						
									</div>
								</div>
								<div class="tcell_td w7"></div>
								<div class="tcell_td">
									<div class="select">
										<select title="생월 선택" id="birthMonth" name="birthMonth" ng-model="idSearchData.birthMonth" required>
											<option value="">월 선택</option>
											<option value="01">1 월</option>
											<option value="02">2 월</option>
											<option value="03">3 월</option>
											<option value="04">4 월</option>
											<option value="05">5 월</option>
											<option value="06">6 월</option>
											<option value="07">7 월</option>
											<option value="08">8 월</option>
											<option value="09">9 월</option>
											<option value="10">10 월</option>
											<option value="11">11 월</option>
											<option value="12">12 월</option>
										</select>
									</div>
								</div>
								<div class="tcell_td w7"></div>
								<div class="tcell_td">
									<div class="select">
										<select title="생일 선택" id="birthDay" name="birthDay" ng-model="idSearchData.birthDay" required>
											<option value="">일 선택</option>
											<option value="{{day}}" ng-repeat="day in dayList">{{day}} 일</option>
										</select>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<p>&nbsp;</p>
					<div class="help-block" ng-messages="idSearchForm.orgSuffixUrl.$error" 
						ng-if="idSearchForm.orgSuffixUrl.$touched" style="text-align: left">
					    <p ng-message="required">사이트를 선택하세요.</p>
					</div>
					<div class="help-block" ng-messages="idSearchForm.mbrName.$error" 
						ng-if="idSearchForm.mbrName.$touched" style="text-align: left">
					    <p ng-message="minlength">이름은 2자 이상 입력하세요.</p>
					    <p ng-message="maxlength">이름은 50자 이하로 입력하세요.</p>
					    <p ng-message="required">이름은 필수입니다.</p>
					</div>
					<div class="help-block" ng-messages="idSearchForm.phoneMiddle.$error" 
						ng-if="idSearchForm.phoneMiddle.$touched" style="text-align: left">
					    <p ng-message="minlength">휴대폰번호 앞자리는 3자리 이상 숫자로 입력하세요.</p>
					    <p ng-message="maxlength">휴대폰번호 앞자리는 4자리 이하 숫자로 입력하세요.</p>
					    <p ng-message="required">휴대폰번호 앞자리를 입력하세요.</p>
					    <p ng-message="pattern">휴대폰번호 앞자리는 3자리 또는 4자리 숫자로 입력하세요.</p>
					</div>
					<div class="help-block" ng-messages="idSearchForm.phoneLast.$error" 
						ng-if="idSearchForm.phoneLast.$touched" style="text-align: left">
					    <p ng-message="minlength">휴대폰번호 뒷자리는 4자리 숫자로 입력하세요.</p>
					    <p ng-message="maxlength">휴대폰번호 뒷자리는 4자리 숫자로 입력하세요.</p>
					    <p ng-message="required">휴대폰번호 뒷자리를 입력하세요.</p>
					    <p ng-message="pattern">휴대폰번호 뒷자리는 숫자로 입력하세요.</p>
					</div>
					<div class="help-block" ng-messages="idSearchForm.birthYear.$error" 
						ng-if="idSearchForm.birthYear.$touched" style="text-align: left">
					    <p ng-message="required">출생년도를 선택하세요.</p>
					</div>
					<div class="help-block" ng-messages="idSearchForm.birthMonth.$error" 
						ng-if="idSearchForm.birthMonth.$touched" style="text-align: left">
					    <p ng-message="required">출생월을 선택하세요.</p>
					</div>
					<div class="help-block" ng-messages="idSearchForm.birthDay.$error" 
						ng-if="idSearchForm.birthDay.$touched" style="text-align: left">
					    <p ng-message="required">출생일을 선택하세요.</p>
					</div>
					<div class="btn_area">
						<button type="submit" class="btn_block btn_primary">확인</button>
					</div>
				</fieldset>
			</form>
			<form id="pwSearchForm" name="pwSearchForm" style="display:none;" novalidate allow-invalid="true" ng-submit="pwSearch(pwSearchForm)">
				<fieldset>
					<legend>비밀번호 찾기</legend>
					<ul class="find_forms">
						<li>
							<div class="tcell">
								<div class="tcell_td w33p">
									<div class="select">
										<select title="사이트 선택" name="orgSuffixUrl" 
											ng-options="orgCode.orgSuffixUrl as orgCode.orgName for orgCode in orgCodeList"
											ng-model="pwSearchData.orgSuffixUrl" required>
											<option value="" ng-selected="selected">사이트 선택</option>
										</select>
									</div>
								</div>
								<div class="tcell_td w7"></div>
								<div class="tcell_td">
									<div class="intxt">
										<input type="text" placeholder="이름" title="이름 입력" 
											name="mbrName"
								          	ng-model="pwSearchData.mbrName"
								          	ng-minlength="2" 
				   							ng-maxlength="50" 
				   							required/>
									</div>
								</div>
							</div>
						</li>
<!-- 						<li><div class="intxt"><input type="text" placeholder="이름" title="이름 입력" 
							name="mbrName" 
							ng-model="pwSearchData.mbrName" 
							ng-minlength="2" 
		   					ng-maxlength="50" 
		   					required/></div></li> -->
						<li><div class="intxt"><input type="text" placeholder="아이디" title="아이디 입력" 
							name="mbrId" 
							ng-model="pwSearchData.mbrId"
							ng-minlength="2" 
		   					ng-maxlength="50" 
		   					required/></div></li>
						<li>
							<div class="tcell">
								<div class="tcell_td w36p">
									<div class="select">
										<select title="휴대전화 앞자리 선택" 
											name="phoneFirst" 
											ng-model="pwSearchData.phoneFirst">
											<option value="010" ng-selected="selected">010</option>
											<option value="011">011</option>
											<option value="016">016</option>
											<option value="017">017</option>
											<option value="018">018</option>
											<option value="019">019</option>
										</select>						
									</div>
								</div>
								<div class="tcell_td ct w16">-</div>
								<div class="tcell_td">
									<div class="intxt"><input type="text" title="휴대전화 중간자리 입력" 
										name="phoneMiddle" 
										ng-model="pwSearchData.phoneMiddle"
										ng-pattern="/^([0-9]{3,4})$/"
								        ng-minlength="3" 
							   			ng-maxlength="4" 
							   			required/></div>
								</div>							
								<div class="tcell_td ct w16">-</div>
								<div class="tcell_td">
									<div class="intxt"><input type="text" title="휴대전화 뒷자리 입력" 
										name="phoneLast" 
										ng-model="pwSearchData.phoneLast"
										ng-pattern="/^([0-9]{4})$/"
							          	ng-minlength="4" 
						   				ng-maxlength="4" 
						   				required/></div>
								</div>
							</div>
						</li>
					</ul>
					<p>&nbsp;</p>
					<div class="help-block" ng-messages="pwSearchForm.mbrName.$error" 
						ng-if="pwSearchForm.mbrName.$touched" style="text-align: left">
					    <p ng-message="minlength">이름은 2자 이상 입력하세요.</p>
					    <p ng-message="maxlength">이름은 50자 이하로 입력하세요.</p>
					    <p ng-message="required">이름은 필수입니다.</p>
					</div>
					<div class="help-block" ng-messages="pwSearchForm.mbrId.$error" 
						ng-if="pwSearchForm.mbrId.$touched" style="text-align: left">
					    <p ng-message="minlength">아이디는 2자 이상 입력하세요.</p>
					    <p ng-message="maxlength">아이디는 50자 이하로 입력하세요.</p>
					    <p ng-message="required">아이디는 필수입니다.</p>
					</div>
					<div class="help-block" ng-messages="pwSearchForm.phoneMiddle.$error" 
						ng-if="pwSearchForm.phoneMiddle.$touched" style="text-align: left">
					    <p ng-message="minlength">휴대폰번호 앞자리는 3자리 이상 숫자로 입력하세요.</p>
					    <p ng-message="maxlength">휴대폰번호 앞자리는 4자리 이하 숫자로 입력하세요.</p>
					    <p ng-message="required">휴대폰번호 앞자리를 입력하세요.</p>
					    <p ng-message="pattern">휴대폰번호 앞자리는 3자리 또는 4자리 숫자로 입력하세요.</p>
					</div>
					<div class="help-block" ng-messages="pwSearchForm.phoneLast.$error" 
						ng-if="pwSearchForm.phoneLast.$touched" style="text-align: left">
					    <p ng-message="minlength">휴대폰번호 뒷자리는 4자리 숫자로 입력하세요.</p>
					    <p ng-message="maxlength">휴대폰번호 뒷자리는 4자리 숫자로 입력하세요.</p>
					    <p ng-message="required">휴대폰번호 뒷자리를 입력하세요.</p>
					    <p ng-message="pattern">휴대폰번호 뒷자리는 숫자로 입력하세요.</p>
					</div>
					<div class="btn_area">
						<button type="submit" class="btn_block btn_primary">확인</button>
					</div>
				</fieldset>
			</form>
		</div>
		<p>&nbsp;</p>
		<button class="button icon-left ion-arrow-left-a button-balanced" ng-click="goLogin()">로그인 페이지로 이동</button>
		<p>&nbsp;</p>
		<footer>
			<p class="txt">회원가입 및 개인정보 변경은 웹 사이트에서만 가능합니다.</p>	
			<p class="copy">COPYRIGHT (C) SEOUL CYBER UNIVERSITY.<br />ALL RIGHTS RESERVED</p>
		</footer>
	</div>
  </ion-content>
</ion-view>