<ion-view view-title="온라인 자격시험명">

  <ion-content style="/*background:#67b0d6; */">
    <ion-refresher 
		pulling-text="새로고침" 
		on-refresh="doRefresh()" 
		on-pulling="onPulling()" 
		spinner="crescent" 
		pulling-icon="ion-ios-arrow-up">
	</ion-refresher>
		<div id="contents">
			<h3 class="q_tit tit_q_application">시험응시</h3>
			<h4 class="tit_cont">필수과목</h4>
			<div class="q_application_list cont_line">
				<dl>
					<dt>
						<a href="#">시험과목명</a>
					</dt>
					<dd>
						<div class="data_col">
							<table>
								<caption>필수과목</caption>
								<colgroup>
									<col style="width:34%" />
									<col style="width:auto" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">응시기간</th>
										<td>oooooo</td>
									</tr>
									<tr>
										<th scope="row">시험기간</th>
										<td>oooooo</td>
									</tr>
									<tr>
										<th scope="row">문항수</th>
										<td>oooooo</td>
									</tr>
								</tbody>
							</table>	
						</div>
					</dd>
					<button class="button button-block button-small button-balanced">응시하기</button>
				</dl>

				<dl>
					<dt>
						<a href="#">시험과목명</a>
					</dt>
					<dd>
						<div class="data_col">
							<table>
								<caption>필수과목</caption>
								<colgroup>
									<col style="width:34%" />
									<col style="width:auto" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">응시기간</th>
										<td>oooooo</td>
									</tr>
									<tr>
										<th scope="row">시험기간</th>
										<td>oooooo</td>
									</tr>
									<tr>
										<th scope="row">문항수</th>
										<td>oooooo</td>
									</tr>
								</tbody>
							</table>	
						</div>
					</dd>
					<button class="button button-block button-small button-balanced">응시하기</button>
				</dl>
			</div>

			<h4 class="tit_cont">선택과목 (택1)</h4>
			<div class="q_application_list">
				<dl>
					<dt>
						<a href="#">시험과목명</a>
					</dt>
					<dd>
						<div class="data_col">
							<table>
								<caption>선택과목</caption>
								<colgroup>
									<col style="width:34%" />
									<col style="width:auto" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">응시기간</th>
										<td>oooooo</td>
									</tr>
									<tr>
										<th scope="row">시험기간</th>
										<td>oooooo</td>
									</tr>
									<tr>
										<th scope="row">문항수</th>
										<td>oooooo</td>
									</tr>
								</tbody>
							</table>	
						</div>	
					</dd>
					<button class="button button-block button-small button-balanced">응시하기</button>
				</dl>
			</div>
		</div>
  </ion-content>
</ion-view>