<ion-view view-title="{{lectureName}}">
  <ion-content style="/*background:#67b0d6; */">
 <!--    <ion-refresher 
		pulling-text="새로고침" 
		on-refresh="doRefresh()" 
		on-pulling="onPulling()" 
		spinner="crescent" 
		pulling-icon="ion-ios-arrow-up">
	</ion-refresher> -->

<!-- 	<ion-list>
		<div class="item item-divider">
	      <h2>현재상태 : 수험원서 작성</h2>
		</div>
	  	<a class="item item-icon-left item-icon-right" href="#">
	    	<i class="icon ion-ios-calendar-outline calm"></i>
	    	자격시험 정보
	    	<i class="icon icon ion-ios-arrow-forward calm"></i>
	  	</a>
	  	<a class="item item-icon-left item-icon-right" href="#">
	    	<i class="icon ion-ios-book-outline calm"></i>
	    	시험응시
	    	<i class="icon icon ion-ios-arrow-forward calm"></i>
	  	</a>
	  	<a class="item item-icon-left item-icon-right" href="#">
	    	<i class="icon ion-stats-bars calm"></i>
	    	시험결과
	    	<i class="icon icon ion-ios-arrow-forward calm"></i>
	  	</a>
	</ion-list> -->
		<div class="list">
		  	<a class="item item-icon-left item-icon-right" href="#" 
		  		ng-click="goExamInfo()">
		    	<i class="icon ion-ios-calendar-outline calm"></i>
		    	자격시험 정보
		    	<i class="icon ion-ios-arrow-right"></i>
		  	</a>
		  	<a class="item item-icon-left item-icon-right" href="#"
		  		ng-click="goExamApplication()">
		    	<i class="icon ion-ios-book-outline calm"></i>
		    	시험응시
		    	<i class="icon ion-ios-arrow-right"></i>
		  	</a>
		  	<a class="item item-icon-left item-icon-right" href="#"
		  		ng-click="goExamResult()">
		    	<i class="icon ion-university calm"></i>
		    	시험결과
		    	<i class="icon ion-ios-arrow-right"></i>
		  	</a>
	  	</div>
  </ion-content>
</ion-view>