<ion-view view-title="온라인 자격시험명">

  <ion-content style="/*background:#67b0d6; */">
    <ion-refresher 
		pulling-text="새로고침" 
		on-refresh="doRefresh()" 
		on-pulling="onPulling()" 
		spinner="crescent" 
		pulling-icon="ion-ios-arrow-up">
	</ion-refresher>
		<div id="contents">
			<h3 class="q_tit tit_q_info">자격시험 정보</h3>
			<div class="inner_cont">
				<div class="data">
					<table>
						<caption>자격시험 정보</caption>
						<colgroup>
							<col style="width:34%" />
							<col style="width:auto" />
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">수험번호</th>
								<td>oooooo</td>
							</tr>
							<tr>
								<th scope="row">자격증명</th>
								<td>자격증명</td>
							</tr>
							<tr>
								<th scope="row">검정수수료</th>
								<td>10,000원</td>
							</tr>
							<tr>
								<th scope="row">성명(한글)</th>
								<td>홍길동</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="q_info_note">
					<h4>※ 시험응시 유의사항</h4>
					<ol class="decimal_list">
                        <li>
                            본 자격증 취득을 위한 검정과목은 다음과 같습니다.
                            <div>
                            	<div class="data">
	                                <table>
										<caption>검정과목 정보</caption>
										<colgroup>
											<col style="width:auto" />
											<col style="width:40%" />
											<col style="width:35%" />
										</colgroup>
										<tbody>
											<tr>
												<th scope="row">검정방법</th>
												<td colspan="2">필기</td>
											</tr>
											<tr>
												<th scope="row">구분</th>
												<td class="line_r">필수</td>
												<td>선택</td>
											</tr>
											<tr>
												<th scope="row">검정과목</th>
												<td class="line_r">a과목, b과목, c과목</td>
												<td>&nbsp;</td>
											</tr>
											<tr>
												<th scope="row">비고</th>
												<td class="line_r">※상기 과목 중 조직행동론은 군경 조직행동론으로 대체 가능</td>
												<td>&nbsp;</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
                        </li>
                        <li>검정 방법은 온라인 필기시험(동시시험)으로 이루어집니다.<br />(동시시험은 동시에 시험이 시작되는 시험으로 시작시간부터 부여된 응시시간 동안만 시험에 응시할 수 있는 시험을 의미함.)</li>
                        <li>수험자가 온라인 동시시험의 시작시간이 지난 후에 시험에 응시하더라도 시험시간은 부여된 응시시간의 잔여시간만 부여합니다.</li>
                        <li> 수험자는 온라인 동시시험 전 모의테스트 응시를 통해 시험 응시에 문제가 없도록 컴퓨터 환경 설정에 만전을 기하여야 합니다. 수험자 컴퓨터 환경의 문제로 인하여 시험 응시가 되지 않았을 경우  접속 불가의 경우에는 시험 시간 추가 부여 등의 구제조치를 취하지 않는 것을 원칙으로 합니다.</li>
                        <li>검정을 받고자 하는 자가 이미 납부한 수수료는 과오납한 경우를 제외하고는 이를 반환하지 않습니다.</li> 
                        <li>응시자격을 갖추지 아니한 자가 시험에 응시하였을 경우 시험에 합격하더라도 자격증 발급이 불가능합니다.</li> 
                        <li>합격 기준은 과목당 100점 만점 기준으로, 과목별 점수를 80점 이상 취득해야 합니다.<br />(검정 과목 중 한 과목이라도 80점을 넘지 못할 경우 불합격)</li>
                        <li>온라인 필기시험 불합격자 중에서 과목당 점수가 80점 이상인 득점자에 한하여 이후에 시행되는 검정시험 1회에 한하여 해당 과목의 시험을 면제합니다.</li> 
                        <li>공지된 시험시간은 한국시간이므로 해외 거주자는 시차를 고려하여 시험에 응시하시기 바랍니다.</li>
                        <li>시험 응시 전, 사용하던 인터넷 익스플로러 외의 다른 프로그램은 모두 종료하시기 바랍니다.</li>
                        <li>답안작성 중 복사하기/붙이기(Ctrl-C/Ctrl-V), 인쇄 기능은 사용하실 수 없습니다.</li>
                        <li>검정에 관하여 부정행위를 한 때에는 당해 검정을 중지 또는 무효로 하고 3년간 검정을 받을 수 있는 자격이 정지되며, 부정행위를 한 자라함은 다음 각 호의 1에 해당하는 자를 말합니다.<br>
                            1) 시험 중에 다른 수험자의 답안지 또는 문제지를 엿보고 자신의 답안지를 작성한 자<br>
                            2) 다른 수험자 위하여 답안 등을 알려주거나 엿보게 하는 자<br>
                            3) 사전에 시험문제를 알고 시험을 치른 자<br>
                            4) 대리시험을 치른 자 및 치르게 한 자<br>
                            5) 기타 부정 또는 불공정한 방법으로 시험을 치른 자</li> 
                        <li>무선인터넷은 연결이 불안정하여 문제발생 시 원격지원에 제한이 있을 수 있으니, 유선 랜을 연결하여 시험에 응시바랍니다.</li> 
                        <li>시험 상황에서 발생할 수 있는 여러 돌발사태에 대비하여 위하여 시험 기간 중 HELP-DESK를 운영합니다. 시험응시 중 문제가 발생할 경우, 바로 교육원으로 전화주시면 상담해드립니다.</li>
                    </ol>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>