<ion-view view-title="온라인 자격시험명">

  <ion-content style="/*background:#67b0d6; */">
<!--     <ion-refresher 
		pulling-text="새로고침" 
		on-refresh="doRefresh()" 
		on-pulling="onPulling()" 
		spinner="crescent" 
		pulling-icon="ion-ios-arrow-up">
	</ion-refresher> -->
		<div id="contents">
			<h3 class="q_tit tit_q_result">시험결과</h3>
			<div class="q_result_txt cont_line">
				<p>000님은 합격 하셨습니다.</p>
			</div>

			<h4 class="tit_cont">필수과목</h4>
			<div class="fold_list q_result_list">
				<div class="fold_tit"><span class="icon icon_fail">불합격</span>시험과목명</div>
				<div class="fold_cont">
					<div class="inner_cont cont_line">
						<div class="data">
							<table>
								<caption>필수과목 시험결과</caption>
								<colgroup>
									<col style="width:34%" />
									<col style="width:auto" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">응시기간</th>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<th scope="row">시험기간</th>
										<td>40</td>
									</tr>
									<tr>
										<th scope="row">문항수</th>
										<td>불합격(과락)</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="fold_tit"><span class="icon icon_pass">합격</span>시험과목명</div>
				<div class="fold_cont">
					<div class="inner_cont cont_line">
						<div class="data">
							<table>
								<caption>필수과목 시험결과</caption>
								<colgroup>
									<col style="width:34%" />
									<col style="width:auto" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">응시기간</th>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<th scope="row">시험기간</th>
										<td>40</td>
									</tr>
									<tr>
										<th scope="row">문항수</th>
										<td>불합격(과락)</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="fold_tit on"><span class="icon icon_fail">불합격</span>시험과목명</div>
				<div class="fold_cont on">
					<div class="inner_cont cont_line">
						<div class="data">
							<table>
								<caption>필수과목 시험결과</caption>
								<colgroup>
									<col style="width:34%" />
									<col style="width:auto" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">응시기간</th>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<th scope="row">시험기간</th>
										<td>40</td>
									</tr>
									<tr>
										<th scope="row">문항수</th>
										<td>불합격(과락)</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<h4 class="tit_cont">선택과목 (택1)</h4>
			<div class="fold_list q_result_list">
				<div class="fold_tit"><span class="icon icon_pass">합격</span>시험과목명</div>
				<div class="fold_cont">
					<div class="inner_cont cont_line">
						<div class="data">
							<table>
								<caption>선택과목 시험결과</caption>
								<colgroup>
									<col style="width:34%" />
									<col style="width:auto" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">응시기간</th>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<th scope="row">시험기간</th>
										<td>40</td>
									</tr>
									<tr>
										<th scope="row">문항수</th>
										<td>불합격(과락)</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>