<ion-view view-title="수강중인 강의">
  <ion-content style="background:#67b0d6;">
    <ion-refresher 
		pulling-text="" 
		on-refresh="doRefresh()" 
		on-pulling="onPulling()" 
		spinner="crescent" 
		pulling-icon="ion-ios-arrow-up">
	</ion-refresher>

<!-- 	<div class="list list-inset">

	  <label class="item item-input item-select">
	    <div class="input-label">
	      검색
	    </div>
	    <select>
	      <option selected>전체</option>
	      <option>분류 1</option>
	      <option>분류 2</option>
	    </select>

	  </label>
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Search">
	  </label>
	</div> -->
	
	<div class="card">
	  <div class="item item-divider item-icon-left assertive">
	    <i class="icon ion-ios-monitor-outline"></i>
	    일반강의
	    <!-- <span class="badge badge-assertive">0</span> -->
	  </div>
	  <div>
	    <a class="item" href="#/myclass/tocList/1" ng-repeat="course in courseList">
	      <span class="item-note">1기</span>
	      <h2>강좌명</h2>
	      <span class="item-note">온라인강의</span>
	      <p>2016-02-23 ~ 2016-05-08</p>
	    </a>
	    <a class="item balanced" href="#/myclass/tocList/1">
	      <span class="item-note">2기</span>
	      <h2>강좌명</h2>
	      <span class="item-note">온라인강의</span>
	      <p>2016-02-23 ~ 2016-05-08</p>
	    </a>
	  </div>
	</div>

	<div class="card">
	  <div class="item item-divider item-icon-left assertive">
	  <i class="icon ion-ios-compose-outline"></i>
	    온라인 자격시험
	  <!-- <span class="badge badge-assertive">0</span> -->
	  </div>
	  <div>
	    <a class="item" href="#" ng-repeat="exam in examList">
	      <h2>시험명</h2>
	      <p>자격증명 | 2016-02-23 ~ 2016-05-08</p>
	    </a>
	    <a class="item" href="#">
	      <h2>시험명</h2>
	      <p>자격증명 | 2016-02-23 ~ 2016-05-08</p>
	    </a>
	  </div>
	</div>
  </ion-content>
</ion-view>
