<ion-view view-title="Q&A">

  <ion-content style="/*background:#67b0d6; */margin-top:48px;">
	<ion-refresher 
		pulling-text="새로고침" 
		on-refresh="doRefresh()" 
		on-pulling="onPulling()" 
		spinner="crescent" 
		pulling-icon="ion-ios-arrow-up">
	</ion-refresher>

<!-- 	<ion-list> -->
<!-- 		<div class="list card list-inset" ng-repeat="qna in courseQnaList" >
         <ion-item class="item item-text-wrap">
          <div ng-class="isItemShown(qna) ? 'item-expand active' : 'item-expand inactive'">
            <h2>{{ qna.title }}</h2>
            <p>admin | 2016-04-18</p>
            <p>{{ qna.text }}</p>
          </div>
          <div ng-click="toggleItem(qna)" class="item-expand-footer">
            <i ng-class="isItemShown(qna) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
            {{ isItemShown(qna) ? '닫기' : '더보기' }}
          </div>
        </ion-item>
        </div>
        <div class="btn_area">
			<a href="#" class="btn_block btn_primary" ng-click="doRegist()">글쓰기</a>
		</div> -->
        <div class="btn_area" style="margin-top: 10px; margin-bottom: 10px;">
			<a href="#" class="btn_block btn_primary" ng-click="goWrite()">글쓰기</a>
		</div>
		<div class="list">
         <ion-item class="item item-text-wrap" ng-repeat="qna in courseQnaList" ng-click="goDetail(11)">
            <h2>{{ qna.title }}</h2>
            <p>admin | 2016-04-18</p>
        </ion-item>
        </div>
<!--         <div class="btn_area">
			<a href="#" class="btn_block btn_primary" ng-click="doRegist()">글쓰기</a>
		</div> -->
<!-- 	</ion-list> -->

  </ion-content>
</ion-view>
