<ion-view view-title="홈" hide-back-button="true" name="login">
  <ion-content class="login">
  	<div class="login_wrap" style="text-align:center;">
  		<img style="text-align:center;" src="images/img_intro_logo.png"/>
  		<p/>
		<h2 style="color:#ffffff;"><span>SCU WOD Mobile App</span></h2>
		<form name="loginForm" novalidate allow-invalid="true" ng-submit="login(loginForm)">
	      <div class="list list-inset login-form">
	        <label class="item item-input">
	          	<input type="text" placeholder="User ID" 
					name="userid"
		          	ng-model="loginData.userid" 
		          	ng-minlength="1" 
	   				ng-maxlength="50" 
	   				required>
				<div class="help-block" ng-messages="loginForm.userid.$error" 
					ng-if="loginForm.userid.$touched">
				    <p ng-message="minlength">ID는 1자 이상 입력하세요.</p>
				    <p ng-message="maxlength">ID는 50자 이하로 입력하세요.</p>
				    <p ng-message="required">ID는 필수입니다.</p>
				</div>
	        </label>
	        <label class="item item-input">
	          	<input type="password" 
		          	name="password" 
		          	placeholder="Password" 
		          	ng-model="loginData.password"
		          	ng-minlength="1" 
	   				ng-maxlength="25"
	   				required>
				<div class="help-block" ng-messages="loginForm.password.$error" 
					ng-if="loginForm.password.$touched">
				    <p ng-message="minlength">Password는 1자 이상 입력하세요.</p>
				    <p ng-message="maxlength">Password는 25자 이하로 입력하세요.</p>
				    <p ng-message="required">Password는 필수입니다.</p>
				</div>
	        </label>
	        <div class="row" style="background-color: #ffffff">
	          <div class="col col-50">
	          	<button type="submit" class="button button-block button-positive">로그인</button>
	          </div>
	          <div class="col col-50">
	          	<button type="button" class="button button-block button-balanced" ng-click="goSearch()">아이디/비밀번호찾기</button>
	          </div>
	        </div>
			<div class="row">
				<ion-checkbox class="col col-50" ng-model="settings.isSaveId" >ID 저장하기</ion-checkbox>
				<ion-checkbox class="col col-50" ng-model="settings.isAutoLogin" >자동로그인</ion-checkbox>
			</div>
	      </div>

		</form>
		<p class="copyright">회원가입 및 개인정보 변경은 웹사이트에서만 가능합니다.<br/>Copyright(c) SCU Lifelong Education Institute.<br/>All rights Reserved.</p>
	</div>
  </ion-content>
</ion-view>