<ion-view view-title="Notification" hide-back-button="true">
	<ion-header-bar class="logotype">
	  <h1><span class="hide">서울사이버대학교</span></h1>
	</ion-header-bar>

<!-- 	<div class="bar bar-header bar-assertive">
	  <h1 class="title">Wave On Demand</h1>
	</div>
 -->	<ion-content class="scu_viewer" scroll="false">
		<div>
			<div class="item item-divider item-icon-left item-text-wrap" style="/*margin-top: 42px;*/">
			  <i class="icon ion-alert-circled assertive"></i>
		      <h2>알림</h2>
		      <p ng-bind-html="msg[messageId]"></p>
			</div>
<!-- 			<div class="row">
			<div class="col col-50"><button class="button button-block icon-left ion-home button-balanced" ng-click="goToHome()">홈</로utton></div>
			<div class="col col-50"><button class="button button-block icon-right ion-chevron-right button-positive" ng-click="retry()">재시도</button></div> -->
		</div>
		<p>&nbsp;</p>
		<div style="text-align: center"><button class="button icon-left ion-home button-balanced" ng-click="goToHome()">홈으로 이동</utton></div>
		<p>&nbsp;</p>
	</ion-content>
</ion-view>