<ion-view view-title="Notification" hide-back-button="true">

	<div class="bar bar-header bar-assertive">
	  <h1 class="title">Wave On Demand</h1>
	</div>
	<ion-content class="scu_viewer">
		<div>
			<div class="item item-divider item-icon-left" style="margin-top: 42px;">
			  <i class="icon ion-alert-circled assertive"></i>
		      <h2>알림</h2>
		      <p>{{msg[messageId]}}</p>
			</div>
<!-- 			<div class="row">
			<div class="col col-50"><button class="button button-block icon-left ion-home button-balanced" ng-click="goToHome()">홈</button></div>
			<div class="col col-50"><button class="button button-block icon-right ion-chevron-right button-positive" ng-click="retry()">재시도</button></div> -->
		</div>
	</ion-content>
</ion-view>