<ion-view view-title="설정">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
      <!-- <i class="icon ion-locked"></i> -->
        로그인 설정
      </div>
        <li class="item item-toggle item-icon-left">
        <!-- <i class="icon ion-ios-download-outline"></i> -->
         ID 저장하기
         <label class="toggle toggle-assertive" ng-click="changeOption('isSaveId')">
           <input type="checkbox" ng-model="settings.isSaveId">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </li>
        <li class="item item-toggle item-icon-left">
        <!-- <i class="icon ion-ios-unlocked-outline"></i> -->
         자동 로그인
         <label class="toggle toggle-assertive" ng-click="changeOption('isAutoLogin')">
           <input type="checkbox" ng-model="settings.isAutoLogin">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </li>
      <div class="item item-divider">
      <!-- <i class="icon ion-locked"></i> -->
        학습하기 설정
      </div>
        <li class="item item-toggle item-icon-left">
        <!-- <i class="icon ion-ios-download-outline"></i> -->
         미디어 자동재생
         <label class="toggle toggle-assertive" ng-click="changeOption('isAutoPlay')">
           <input type="checkbox" ng-model="settings.isAutoPlay">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </li>
        <li class="item item-toggle item-icon-left">
        <!-- <i class="icon ion-ios-download-outline"></i> -->
         최근 학습위치에서 재생
         <label class="toggle toggle-assertive" ng-click="changeOption('isLastPosPlay')">
           <input type="checkbox" ng-model="settings.isLastPosPlay">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </li>
    </ion-list>
  </ion-content>
</ion-view>
