<!DOCTYPE html>
<html lang="ko">
<head>
	<title>학습창 | SCU WOD Mobile LMS</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="서울사이버대학교 평생교육원" />
    <meta name="keywords" content="서울사이버대학교 평생교육원, 서울사이버대학교, 평생교육원" /> 
	<link rel="stylesheet" href="../styles/common.css" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="../scripts/lib/jquery/jquery-1.11.0.min.js"></script>
	<script src="../scripts/common.js"></script>
</head>
<body>
	<p id="skip_nav"><a href="#contents">본문 바로가기</a></p>
	<div id="full_screen">
		<header>
			<h1>아이템명</h1>
			<button class="btn_close"><span class="hide">화면 닫기</span></button>
		</header>
		<div id="contents">
			@학습창 콘텐츠 들어갈 곳.
		</div>
	</div>
</body>
</html>