<!DOCTYPE html>
<html lang="ko">
<head>
	<title>강의공지 | SCU WOD Mobile LMS</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="서울사이버대학교 평생교육원" />
    <meta name="keywords" content="서울사이버대학교 평생교육원, 서울사이버대학교, 평생교육원" /> 
	<link rel="stylesheet" href="../styles/common.css" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="../scripts/lib/jquery/jquery-1.11.0.min.js"></script>
	<script src="../scripts/common.js"></script>
</head>
<body>
	<p id="skip_nav"><a href="#contents">본문 바로가기</a></p>
	<!-- 사이드메뉴 -->
	<button class="btn_menu"><span class="hide">주요메뉴 열기</span></button>
	<!-- @gnb (layout_sidemenu.html 참고) -->
	<!-- //사이드메뉴 -->

	<div id="wrapper" class="has_lnb">
		<header>
			<h2>강의명</h2>
		</header>
		<div id="contents">
			<ul id="lnb" class="tab item4">
				<li><a href="#">학습하기</a></li>
				<li class="on"><a href="#">강의공지</a></li>
				<li><a href="#">강의정보</a></li>
				<li><a href="#">Q&amp;A</a></li>
			</ul>
			<ul class="course_list">
				<li>
					<a href="#">
						<strong>[필독] 공지명</strong>
						<p class="info_data">2016-02-29</p>
					</a>
				</li>
				<li>
					<a href="#">
						<strong>[필독] 공지명</strong>
						<p class="info_data">2016-02-29</p>
					</a>
				</li>
				<li>
					<a href="#">
						<strong>공지명</strong>
						<p class="info_data">2016-02-29</p>
					</a>
				</li>
				<li>
					<a href="#">
						<strong>공지명</strong>
						<p class="info_data">2016-02-29</p>
					</a>
				</li>
				<li>
					<a href="#">
						<strong>공지명</strong>
						<p class="info_data">2016-02-29</p>
					</a>
				</li>
				<li>
					<a href="#">
						<strong>공지명</strong>
						<p class="info_data">2016-02-29</p>
					</a>
				</li>
				<li>
					<a href="#">
						<strong>공지명</strong>
						<p class="info_data">2016-02-29</p>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- 하단메뉴 -->
	<ul class="nav">
		<li><a href="#" class="btn_learning"><span class="hide">수강중인 강의</span></a></li>
		<li><a href="#" class="btn_notice"><span class="hide">공지사항</span></a></li>
		<li><a href="#" class="btn_faq"><span class="hide">FAQ</span></a></li>
		<li><a href="#" class="btn_qna"><span class="hide">나의 문의사항</span></a></li>
		<li><a href="#" class="btn_setting"><span class="hide">설정</span></a></li>
		<li><a href="#" class="btn_prev"><span class="hide">이전 화면으로 이동</span></a></li>
	</ul>
	<!-- //하단메뉴 -->
</body>
</html>