<!DOCTYPE html>
<html lang="ko">
<head>
	<title>SCU WOD Mobile App</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="서울사이버대학교 평생교육원" />
    <meta name="keywords" content="서울사이버대학교 평생교육원, 서울사이버대학교, 평생교육원" /> 
	<link rel="stylesheet" href="../styles/common.css" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="../scripts/lib/jquery/jquery-1.11.0.min.js"></script>
	<script src="../scripts/common.js"></script>
</head>
<body>
	<div class="login">
		<header class="logotype">
			<h1><span class="hide">서울사이버대학교</span></h1>
		</header>
		<div class="login_cont">
			<h2><span class="hide">SCU WOD Mobile App</span></h2>
			<form>
				<fieldset>
					<legend>로그인</legend>
					<div class="intxt"><input type="text" placeholder="ID" title="아이디 입력" /></div>
					<div class="intxt"><input type="password" placeholder="Password" title="비밀번호 입력" /></div>
					<div class="btn_area">
						<button type="submit" class="btn_block btn_primary">로그인</button>
						<a href="#" class="btn_block btn_default">아이디/비밀번호 찾기</a>
					</div>
					<ul class="check_control inp_check item2">
						<li><label class="on"><input type="checkbox" name="idSave" class="check" checked="checked"> ID 저장하기</label></li>
						<li><label><input type="checkbox" name="autoLogin" class="check"> 자동로그인</label></li>
					</ul>	
				</fieldset>
			</form>
		</div>
		<footer>
			<p class="txt">회원가입 및 개인정보 변경은 웹 사이트에서만 가능합니다.</p>	
			<p class="copy">COPYRIGHT (C) SEOUL CYBER UNIVERSITY.<br />ALL RIGHTS RESERVED</p>
		</footer>
	</div>
</body>
</html>