<!DOCTYPE html>
<html lang="ko">
<head>
	<title>나의 문의사항 | SCU WOD Mobile LMS</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="서울사이버대학교 평생교육원" />
    <meta name="keywords" content="서울사이버대학교 평생교육원, 서울사이버대학교, 평생교육원" /> 
	<link rel="stylesheet" href="../styles/common.css" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="../scripts/lib/jquery/jquery-1.11.0.min.js"></script>
	<script src="../scripts/common.js"></script>
</head>
<body>
	<p id="skip_nav"><a href="#contents">본문 바로가기</a></p>
	<div id="full_screen">
		<header>
			<h1>나의 문의사항</h1>
			<button class="btn_close"><span class="hide">화면 닫기</span></button>
		</header>
		<div id="contents">
			<div class="desc_area">
				<p>질문구분 : 공개여부</p>
				<p class="info_data">등록자 ID<span class="bar">|</span>2016-02-29</p>
			</div>
			<div class="inner_cont">
				<div class="board_view">
					상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다. 상담내용입니다.
				</div>
			</div>

			<h2 class="tit_block">답변</h2>
			<div class="desc_area">
				<p class="info_data">등록자 ID<span class="bar">|</span>2016-02-29</p>
			</div>
			<div class="inner_cont">
				<div class="board_view">
					답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다. 답변내용입니다.
				</div>
			</div>

			<div class="btn_area">
				<a href="#" class="btn_block btn_primary">수정</a>
				<button type="button" class="btn_block btn_default">삭제</button>
			</div>
		</div>
	</div>
</body>
</html>